In [2]:
# importing the modules
import pandas as pd
import os
from sqlalchemy import create_engine
from flask import Flask, jsonify

In [5]:
# creating crime data frame for ETL processing
# Source : https://catalog.data.gov/dataset/crime-data-from-2020-to-present
crime_df = pd.read_csv("Resources/Crime_Data_from_2020_to_present.csv")
crime_df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,3/1/2020 0:00,3/1/2020 0:00,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,2/9/2020 0:00,2/8/2020 0:00,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 0:00,11/4/2020 0:00,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,5/10/2023 0:00,3/10/2020 0:00,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,8/18/2022 0:00,8/17/2020 0:00,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277

In [ ]:
import great_expectations as ge

df_ge = ge.from_pandas(crime_df)

# Validate that there are no null values in 'points' column
expectation = df_ge.expect_column_values_to_not_be_null('DR_NO')

# If validation fails, stop the ETL process
if not expectation.success:
    raise ValueError("Validation failed: Null values in 'DR_NO'")

In [6]:
# ETL Transformations - Main dataframe will be split into seperate dataframes used to populate tables
# Create csv files by splitting the original crime data file 
# This dataframe will contain crimedata table data.
selected_columns = ["DR_NO", "Date Rptd", "DATE OCC", "AREA", "Crm Cd", "LOCATION"]
new_crime_df = crime_df[selected_columns]
csv_path = os.path.join("output", "new_crime_data.csv")
new_crime_df = new_crime_df.rename(columns={'Date Rptd': 'date_rptd', 'DATE OCC': 'date_occ', 'Crm Cd': 'crm_cd','DR_NO': 'dr_no', 'LOCATION': 'location','AREA': 'area'})
new_crime_df.to_csv(csv_path, index=False)

# This dataframe will contain address table data
# Checking for duplicates and data cleaning
selected_columns = ["AREA", "AREA NAME"]
area_df = crime_df[selected_columns]
csv_path = os.path.join("output", "address.csv")
area_df = area_df.rename(columns={'AREA': 'area', 'AREA NAME': 'area_name'})
area_df = area_df.drop_duplicates()
area_df.to_csv(csv_path, index=False)

# This dataframe will contain crime table data
# Checking for duplicates and data cleaning
selected_columns = ["Crm Cd", "Crm Cd Desc"]
crime_code_df = crime_df[selected_columns]
csv_path = os.path.join("output", "crime_code.csv")
crime_code_df = crime_code_df.rename(columns={'Crm Cd': 'crm_cd', 'Crm Cd Desc': 'crm_cd_desc'})
crime_code_df = crime_code_df.drop_duplicates()
crime_code_df.to_csv(csv_path, index=False)

# This dataframe will contain location table data
# Checking for duplicates and data cleaning
selected_columns = ["LOCATION", "LAT", "LON"]
location_df = crime_df[selected_columns]
csv_path = os.path.join("output", "location.csv")
location_df = location_df.rename(columns={'LOCATION': 'location', 'LAT': 'lat', 'LON': 'lon'})
location_df = location_df.drop_duplicates(subset=['location'])
location_df.to_csv(csv_path, index=False)

In [3]:
# setting up the connection to the PostgreSQL server in the cloud
engine = create_engine('postgresql://postgres:ut2024!@34.170.166.149:5432/postgres')

In [ ]:
# loading the saved address csv data
df = pd.read_csv('output/address.csv')

# transform (filling in the missing values)
df.fillna(0, inplace=True)

# load to PostgreSQL server
df.to_sql('address', con=engine, index=False,  if_exists='append')

In [28]:
# loading the saved crime csv data
df = pd.read_csv('output/crime_code.csv')

# transform (filling in the missing values)
df.fillna(0, inplace=True)

# load to PostgreSQL server
df.to_sql('crime', con=engine, index=False,  if_exists='append')

In [35]:
# loading the saved location csv data
df = pd.read_csv('output/location.csv')

# transform (filling in the missing values)
df.fillna(0, inplace=True)

# load to PostgreSQL server
df.to_sql('location', con=engine, index=False,  if_exists='append')

60

In [64]:
# loading the saved crimedata csv data
df = pd.read_csv('output/new_crime_data.csv')

# transform (filling in the missing values)
df.fillna(0, inplace=True)

# load to PostgreSQL server
df.to_sql('crimedata', con=engine, index=False,  if_exists='append')

1000

In [65]:
# validate crimedata table loaded
df_from_sql = pd.read_sql('SELECT * FROM crimedata', con=engine)
print(df_from_sql.head())

       dr_no   date_rptd    date_occ area crm_cd  \
0  190326475  2020-03-01  2020-03-01    7    510
1  200106753  2020-02-09  2020-02-08    1    330
2  200320258  2020-11-11  2020-11-04    3    480
3  200907217  2023-05-10  2020-03-10    9    343
4  220614831  2022-08-18  2020-08-17    6    354

                                   location
0   1900 S  LONGWOOD                     AV
1   1000 S  FLOWER                       ST
2   1400 W  37TH                         ST
3  14000    RIVERSIDE                    DR
4                         1900    TRANSIENT

In [66]:
# validate crimedata table loaded
df_from_sql = pd.read_sql('SELECT * FROM crime', con=engine)
print(df_from_sql.head())

  crm_cd                               crm_cd_desc
0    510                          VEHICLE - STOLEN
1    330                     BURGLARY FROM VEHICLE
2    480                             BIKE - STOLEN
3    343  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)
4    354                         THEFT OF IDENTITY

In [67]:
# validate crimedata table loaded
df_from_sql = pd.read_sql('SELECT * FROM location', con=engine)
print(df_from_sql.head())

                                   location      lat       lon
0   1900 S  LONGWOOD                     AV  34.0375 -118.3506
1   1000 S  FLOWER                       ST  34.0444 -118.2628
2   1400 W  37TH                         ST  34.0210 -118.3002
3  14000    RIVERSIDE                    DR  34.1576 -118.4387
4                         1900    TRANSIENT  34.0944 -118.3277

In [4]:
# validate crimedata table loaded
df_from_sql = pd.read_sql('SELECT * FROM address', con=engine)
print(df_from_sql.head())

  area  area_name
0    7   Wilshire
1    1    Central
2    3  Southwest
3    9   Van Nuys
4    6  Hollywood