In [13]:
# importing the modules
import pandas as pd
import os
import requests
import numpy as np
import hvplot.pandas
from scipy.stats import linregress
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
# creating crime data frame
crime_df = pd.read_csv("Resources/Crime_Data_from_2020_to_present.csv")
crime_df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,3/1/2020 0:00,3/1/2020 0:00,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,2/9/2020 0:00,2/8/2020 0:00,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 0:00,11/4/2020 0:00,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,5/10/2023 0:00,3/10/2020 0:00,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,8/18/2022 0:00,8/17/2020 0:00,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277

In [19]:
# creating a new data frame to work with
selected_columns = ["DR_NO", "Date Rptd", "DATE OCC", "TIME OCC", "AREA", "Crm Cd", "LOCATION"]
new_crime_df = crime_df[selected_columns]
csv_path = os.path.join("output", "new_crime_data.csv")
new_crime_df.to_csv(csv_path, index=False)

selected_columns = ["AREA", "AREA NAME"]
area_df = crime_df[selected_columns]
csv_path = os.path.join("output", "area_data.csv")
area_df.to_csv(csv_path, index=False)

selected_columns = ["Crm Cd", "Crm Cd Desc"]
crime_code_df = crime_df[selected_columns]
csv_path = os.path.join("output", "crime_code.csv")
crime_code_df.to_csv(csv_path, index=False)

selected_columns = ["LOCATION", "LAT", "LON"]
location_df = crime_df[selected_columns]
csv_path = os.path.join("output", "location.csv")
location_df.to_csv(csv_path, index=False)